<!DOCTYPE html>
<html>
  <head>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
	<link rel='stylesheet' href='/stylesheets/style.css' />
    <title><%= title %></title>
  </head>
  
    <h1>Front end locator</h1>
   
  </body>
</html>
